body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background-color: cyan;
  padding: 20px;
  border: 1px solid #dd2;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(1, 1, 0, 0.1);
}

.todo-input {
  width: 80%;
  padding: 10px;
  font-size: 19px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li:not(.completed){
  font-size: 30px;
}

.todo-btn {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: fuchsia;
  color: #fff895;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 50px;
}

.todo-btn:hover {
  background-color: #333
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li span::before{
  margin-right: 10px;
}

li:last-child {
  border-bottom: none;
}

.completed {
  text-decoration: line-through;
  color: black;
  font-size: 35px;
}

button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 37px;
}

button:hover {
  background-color: #e91e63;
}